<h1>Listing <%= plural_name %></h1>

<%% list_for @<%= plural_name %> do |list| %>
  <%- for attribute in attributes -%>
  <%%= list.column :<%= attribute.name %> %>
  <%- end %>
  <%% list.actions do |<%= singular_name %>| %>
    <%%= link_to 'Show', <%= singular_name %> %>
    <%%= link_to 'Edit', edit_<%= singular_name %>_path(<%= singular_name %>) %>
    <%%= link_to 'Destroy', <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %>
  <%% end %>
<%% end %>

<p><%%= link_to 'New <%= singular_name %>', <%= new_path %> %></p>
